
language: clojure
jdk:
  - oraclejdk8
# check that it compiles && run linters && run tests
# stop if any of them fails
#script: lein do clean, compile, check, eastwood '{:exclude-namespaces [service.conjectures.specs]}', test
script:
  - lein clean
  - lein compile
  - lein check
  - lein cljsbuild once
#TODO  - lein eastwood '{:exclude-namespaces [service.routing.graph.specs service.routing.spec]}'
#TODO  - lein test
notifications:
  email:
    on_success: change # default: change
    on_failure: always # default: always
